<div id="locationField">
  <input id="autocomplete" placeholder="Enter a place" onFocus="SkyCast.geolocate(SkyCast.autocomplete)" type="text"></input>
</div>

<ul class="user-nav-list group">
  <% if(currentUser.isLoggedIn()) { %>
    <a href="#history">My History</a>
    <a href="#" id="log-out-link">Log out</a>
  <% } else { %>
    <a href="#users/new"><li>Sign Up</li></a>
    <a href="#session/new"><li>Log in</li></a>
  <% } %>
</ul>
