<h1>Sign Up</h1>
<form>
  <ul>
    <li><input type="text" name="user[email]" placeholder="Email"></li>
    <li><input type="text" name="user[email_confirmation]" placeholder="Re-enter email"></li>
    <li><input type="password" name="user[password]" placeholder="Password"></li>
    <li><input type="password" name="user[password_confirmation]" placeholder="Re-enter password"></li>
    <li><button>Sign me up!</button></li>
  </ul>
</form>
