@import 'colors';

.chart-hourly {
  border: 2px solid $medium-gray;
}

.currently {
  margin: 10px auto;
  border: 2px solid $medium-gray;
  background-color: $darkest-gray;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 50%;
  h1 {
    padding: 10px;
    font-size: 20px;
  }
  p {
    padding: 5px;
  }
  i {
    font-size: 80px;
    width: 100px;
    height: 100px;
    padding-top: 20px;
  }
}



.day {
  margin: 10px 5px;
  border: 2px solid $medium-gray;
  background-color: $darkest-gray;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  width: 195px;
  height: auto;
  display: inline-block;
  vertical-align: bottom;
  div {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.week {
  text-align: center;
  background-color: $darkest-gray;
  border: 2px solid $medium-gray;
  h1 {
    font-size: 20px;
    padding: 10px;
    margin: 10px auto;
  }
}

.day-i {
  font-size: 60px;
  width: 80px;
  height: 80px;
  padding-top: 30px;
  padding-bottom: 10px;
}


.display-weekly {
  margin: 10px auto;
}
