@import 'colors';

#header {
  background-color: $darkest-gray;
  border-bottom: 2px solid $medium-gray;
  /*height: 50px;*/
  /*display: flex;*/
  /*align-items: center;*/
}

#autocomplete {
  background-color: $lightest-gray;
  color: $medium-gray;
  margin-left: 20px;
  width: 400px;
  padding: 5px;
}

#locationField {
  display: block;
  float:left;
  padding: 10px;
}

#headerSub {
  display: block;
  float: right;
  padding: 15px;
  a {
    margin-left: 20px;
    margin-right: 20px;
    &:hover {
      color: $navy;
    }
  }
}
