#header {
  background-color: #353537;
  border-bottom: 2px solid rgb(112, 112, 115);
  height: 50px;
  display: flex;
  align-items: center;
}

#autocomplete {
  background-color: #E0E0E3;
  color: rgb(112, 112, 115);
  margin-left: 20px;
  width: 400px;
}
