<div class="landing">
  <h1><i class="wi wi-day-sunny"></i>Welcome to KiteCast<i class="wi wi-raindrop"></i></h1>
  <br>
  <p>
    Want to know the weather? You've come to the right place.
  </p>
  <br>
  <p>
    Just start typing in a location into the top left input field and select a location from the dropdown.
    You will be redirected to a page with the current weather and a 48-hour and 8-day forecast.
  </p>
  <br>
  <p>
    Interested in tracking your history? Then sign up!
  </p>
</div>
