<h1>History</h1>

<% _.each(queries, function(query){ %>
  <div class="single-query group">
    <div class="single-location"><%= query.escape('formatted_address') %></div>
    <div class="single-created"><%= moment(query.escape('created_at')).format("MMMM Do YYYY h:mm a") %></div>
  </div>
<% }) %>
